/* SELECTORES */

/* 
    Selectores Simples
        Selectores elementales
            Selector Universal -> *
            Selector de tipo o etiqueta -> Nombre de la etiqueta
        Selectores de atributo
            id -> id del elemento
            clase -> clase del elemento
            otros atributos
                [atributo]->Selecciona los elementos con ese atributo
                [atributo=valor]->Selecciona los elementos que coincidan con el atributo=valor
                [atributo^=valor]-> Selecciona los elementos cuyo atributo comience con valor
                [atributo*=valor]-> Selecciona los elementos cuyo atributo contenga valor
                [atributo$=valor]-> Selecciona los elementos cuyo atributo termine con valor
                [atributo|=valor]-> Selecciona los elementos cuyo atributo comience con valor o valor-
    Selectores Compuestos
        Selectores Agrupados -> Se agrupan los selectores separados por comas y se escribe el estilo una sola vez 
        Selectores Combinadores
            Selector descendente -> Selecciona un elemento dentro de otro
            Selector de hermano siguiente + -> Selecciona al hermano siguiente adyacente ~ 
        
*/

/*Aquí hay que usarlo con cuidado*/

/*--------------------- Hay que usar control+Ç ---------------*/
/* *{
    background-color: lightcoral;
}

h1{
    background-color: lightcyan;
}

p{
    background-color: lightgreen;
}

ul{
    background-color: red;
}

li{
    background-color: blue;
} */

/* El # (id) es mejor no usarlo*/
/* #title{
    background-color: lightgreen;
}

* Este si que es muy tipico . (class)*
.title{
    background-color: lightsalmon;
}

.text{
    background-color: limegreen;
} */

/* 
*[href]{
    background-color: mediumorchid;
}

[href="https://google.com"]{
    background-color: orangered;
}

[href^="color"]{
    background-color: red;
}

[href*="modo"]{
    background-color: green;
}

[href$="azul"]{
    background-color: steelblue;
}

[lang|="en"]{
    background-color: magenta;
} */

/* .text,
.text-2,
.text-3,
.text-4{
    background-color: steelblue;
} */

div .title-2{
    background-color: teal;
}

.text-2 + h2 {
    background-color: tomato;
}

/* Hermanos */
.text-2 ~ p{
    background-color: teal;
}

/* .text-2 ~ .title-2{
    background-color: rebeccapurple;
} */

.text-3 ~ .text-4{
    background-color: red;
}

h1 + .text{
    background-color: aqua;
}

body > p{
    background-color: green;
}

#text-2{
    background-color: black;
}

.example {
    display: grid;
    transition: all .5s;
    user-select: none;
    background: linear-gradient(to bottom, white, black);
}
