/* 
*{
    background-color: lightcoral;
}


h1{
    background-color: lightcyan;
}

p{
    background-color: lightgreen;
}

ul{
    background-color: red;
}

li{
    background-color: blue;
} */

.title{
    background-color: lightblue;
}

.text{
    background-color: lightgrey;
}

.prueba{
    background-color: blue;
}




